certifi==2026.5.20
charset-normalizer==3.4.7
debugpy==1.8.21
dill==0.4.1
googleapis-common-protos==1.75.0
grpcio==1.81.0
idna==3.18
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-instrumentation==0.63b1
opentelemetry-instrumentation-grpc==0.63b1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
packaging==26.2
parver==1.0
protobuf==6.33.6
pulumi==3.245.0
pulumi_command==1.2.1
pulumi_kubernetes==4.31.1
PyYAML==6.0.3
requests==2.34.2
semver==3.0.4
typing_extensions==4.15.0
urllib3==2.7.0
wrapt==2.2.1
