aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
debugpy==1.8.21
dill==0.4.1
durationpy==0.10
frozenlist==1.8.0
googleapis-common-protos==1.75.0
grpcio==1.81.0
idna==3.18
iniconfig==2.3.0
kubernetes==36.0.2
multidict==6.7.1
oauthlib==3.3.1
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-instrumentation==0.63b1
opentelemetry-instrumentation-grpc==0.63b1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
packaging==26.2
parver==1.0
pluggy==1.6.0
propcache==0.5.2
protobuf==6.33.6
pulumi==3.245.0
pulumi_command==1.2.1
pulumi_kubernetes==4.31.1
Pygments==2.20.0
pytest==9.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
semver==3.0.4
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
wrapt==2.2.1
yarl==1.24.2
