Books/
ObsidianNotes/
Resources/
logs/
shadowAuraNet/
**/bin/
**/include/
**/lib/
**/lib64
**/pyvenv.cfg
**/__pycache__/
**/current.conf
**/patched.conf
**/*.db
**/*.tgz
**/node_modules/
**/logs/
**/share/
**/etc/
**/data/
**/models/
**/tmp/
**/charts/
**/Chart.lock


**/node_modules/
**/build/
**/dist/
**/coverage/
**/.DS_Store
**/*.log
**/.env*
**/!.env.example
**/combined.txt
**/combine.sh
